html{
  font-family: sans-serif;
}
.day{
  display: none;
}
#canvas{
  width: 100%;
  height: 520px;
  background-image: url(../images/fon.png);
  background-size: contain;
}
.nights{
  width: 100%;
  height: 520px;
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  z-index: 100;
  transition: display 450ms;

}
.consol{
  display: flex;
  width: 100%;
  height: 100px;
  border: 1px solid black;
  justify-content: space-between;
}
.consol div{
    border: 1px solid black;
    width: 18%;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
}
.famine{
  background-image: url(https://cs9.pikabu.ru/post_img/big/2016/11/18/8/1479475548191729187.png);
}
.plague{
  background-image: url(https://orig00.deviantart.net/7a12/f/2011/086/2/6/chibi_plague_doctor_by_azeth_chan-d3cmfqp.png);
}
.addFood{
  background-image: url(https://vignette.wikia.nocookie.net/mundogaturro/images/8/86/MANZANA.png/revision/latest?cb=20141224192721&path-prefix=es);
}
.addPredator{
  background-image: url(https://ru.seaicons.com/wp-content/uploads/2015/06/lion-icon.png);
}
.addHerbivore{
  background-image: url(https://cdn.pixabay.com/photo/2016/10/18/19/23/hare-1751147_640.png);
}
